.container{
	display:flex;
	flex-direction:row;
	flex-wrap:row-wrap;
	align-items:center;
	height:500px;
}
.item{
	padding:30px;
}
.item1{
	background-color:green;
}
.item2{
	background-color:red;
}
.item3{
	background-color:blue;
}
/* Your CSS Code here. */